{% extends 'layout/base.html' %}

{% block title %}Рекруты{% endblock %}

{% block content %}

    <style>
        table, td {
            border: 1px solid black;
        }
    </style>

    <table>
        <thead>
        <tr>
            <td>Ифнормация о рекрутах</td>
            <td colspan="{{ questions|length }}">Ответы на вопросы</td>
            <td>Действия</td>
        </tr>
        <tr>
            <td>Имя</td>
            {% for question in questions %}
                <td>{{ question.order }}</td>
            {% endfor %}
            <td>Рука тени?</td>
        </tr>
        </thead>

        <tbody>
        {% for recruit, answers in recruits.items %}
            <tr>
                <td>{{ recruit.name }}</td>
                {% for answer in answers %}
                    <td>{{ answer.answer }}</td>
                {% endfor %}
                <td>
                    <form action="{% url 'shadow_hand' %}" method="post">
                        {% csrf_token %}
                        <input type="number" name="recruit_id" value="{{ recruit.id }}" hidden>
                        <input type="submit" value="Сделать Рукой Тени">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>

    <table>
        <thead>
        <tr>
            <td colspan="2">Ситхти</td>
        </tr>
        <tr>
            <td>Имя</td>
            <td>Количество Рук Теней</td>
        </tr>
        </thead>

        <tbody>
        {% for sith, hands in sith_shadow_hands.items %}
            <tr>
                <td>{{ sith.name }}</td>
                <td>{{ hands }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>

    <section>
        <h4>Ситхи у которых больше 1 Руки Теней:</h4>
        {% if major_siths %}
            <ul>
                {% for major_sith in major_siths %}
                    <li>{{ major_sith.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            Сотрудник месяца отсутствует
        {% endif %}
    </section>
{% endblock %}
